<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Text search example</title>

    <script src="/static/htmx.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <h1>Text search example</h1>

    <form
        hx-get="/html-api/items"
        hx-params="search_query"
        hx-target="#search-results-container"
        hx-trigger="keyup delay:100ms"
    >
        <input type="text" name="search_query" placeholder="Search...">
    </form>

    <div id="search-results-container">
        {% include "results.jinja.html" %}
    </div>
</body>

<footer>
    <img src="/static/algolia-logo.svg" class="algolia-logo" />
    Search results powered by Algolia.
</footer>

</html>
