{% extends "base.jinja.html" %}

{% block content %}

    <h1>Text search example</h1>

    <form
        hx-get="/html-api/items"
        hx-params="search_query"
        hx-target="#search-results-container"
        hx-trigger="keyup delay:800ms"
        >
        <input type="text" name="search_query" placeholder="Search...">

        <!-- TODO: add more search providers -->
        <!-- <label for="index">Search with:</label>
        <select id="index" name="index">
            <option value="algolia">Algolia</option>
            <option value="sqlite">SQLite</option>
        </select> -->
    </form>


    <div id="search-results-container">
        {% include "results.jinja.html" %}
    </div>

{% endblock content %}
