{% extends "base.jinja.html" %}

{% block content %}

    <h1>Text search example</h1>

    <form
        hx-get="/html-api/items"
        hx-params="search_query, search_index"
        hx-target="#search-results-container"
        hx-trigger="
            keyup delay:800ms from:input queue:last changed,
            change from:select queue:last,
            submit
        "
    >
        <input
            type="text"
            name="search_query"
            placeholder="Search..."
            value="{{ search_query }}"
        />

        <label for="search-index-select">Search with:</label>
        <select
            id="search-index-select"
            name="search_index"
            hx-trigger="change"
        >
            {% for index in search_indexes %}
                <option
                    value="{{ index.name }}"
                    {% if index.is_selected %}selected{% endif %}
                >
                    {{ index.name }}
                </option>
            {% endfor %}
        </select>
    </form>

    <div id="search-results-container">
        {% include "results.jinja.html" %}
    </div>

{% endblock content %}
